<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
         <property name="show_sql">true</property> 
         <property name="connection.pool_size">1</property>
        <property name="hibernate.connection.url">jdbc:mysql://oa1ltjd7wms0ff3.clfzy7tgfzlq.us-west-2.rds.amazonaws.com/CLAIMS</property>
        <property name="hibernate.connection.password">auradmin123</property>
        <property name="hibernate.connection.username">auradmin</property>
 		
    </session-factory>
</hibernate-configuration>